html {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 500;
  font-size: 36pt;
}

* {
  box-sizing: border-box;
}

/* Two column */

.row {
  border: 1px solid black;
}

.first-section .column {
  float: left;
  padding: 80px;
  padding-left: 15vw;
}

.first-section .left {
  width: 60%;
  height: 80vh;
}

.first-section .right {
  width: 40%;
  height: 80vh;
  align-items: center;
  padding: 0;
}

.first-section .right img {
  height: 80%;
  max-width: 100%;
  display: flex;
  align-self: center;
  padding-top: 10%;
}

.txt-container {
  width: 400px;
  max-width: 100%;
  text-align: justify;
  text-justify: inter-word;
}

.first-section h1  {
  margin-bottom: 100px;
}

.left {
  width: 60%;
}

.right {
  width: 40%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.second-section {
  height: 700px;
}

.third-section {
  height: 300px;
}

.fourth-section {
  height: 300px;
}

.fifth-section {
  height: 600px;
}

.sixth-section {
  height: 500px;
}

.footer {
  height: 200px;
  padding: 2% 0 0 94%;
  align-items: center;
  align-content: center;
}

#goToTop {
  padding: 15px;
  border: 2px solid white;
  background: none;
  border-radius: 50%;
  display: flex;
  align-content: center;
  align-items: center;
  align-self: center;
}

#goToTop:hover {
  background: white;
}
