h1 {
  font-weight: 500;
  font-size: 36pt;
}

* {
  box-sizing: border-box;
}

/* Two column */

.row {
  border: 1px solid black;
}

.first-section .column {
  float: left;
  padding: 80px;
  padding-left: 15vw;
}

.first-section .left {
  width: 60%;
  height: 80vh;
}

.first-section .right {
  width: 40%;
  height: 80vh;
  align-items: center;
  padding: 0;
}

.first-section .right img {
  height: 80%;
  max-width: 100%;
  display: flex;
  align-self: center;
  padding-top: 10%;
}

.txt-container {
  width: 400px;
  max-width: 100%;
  text-align: justify;
  text-justify: inter-word;
}

.first-section h1  {
  margin-bottom: 100px;
}

.left {
  width: 60%;
}

.right {
  width: 40%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.third-section {
  height: 50vh;
}

.fourth-section {
  height: 240vh;
}

.fifth-section {
  height: 600px;
}

.sixth-section {
  height: 500px;
}

.seventh-section {
  height: 80vh;
}

.footer {
  height: 40vh;
  padding: 2% 0 0 94%;
  align-items: center;
  align-content: center;
}

#goToTop {
  padding: 15px;
  border: 2px solid white;
  background: none;
  border-radius: 50%;
  display: flex;
  align-content: center;
  align-items: center;
  align-self: center;
}

#goToTop:hover {
  background: white;
}

.second-section h1 {
  text-align: center;
  color: white;
  margin: 0;
  padding: 50px 0 40px 0;
}

.second-section .row {
  padding: 5% 15% 5% 15%;
  margin: 0;
}

.second-section .column {
  color: white;
  float: left;
  width: 30%;
  height: 50vh;
  margin: 1.3%;
  position: relative;
  border: 1px solid black;
  text-align: center;
  padding: 1%;
}

/* fourth section */

.fourth-section button {
  
}

.first-part .column {
  float: left;
  padding: 80px;
  padding-left: 15vw;
}

.first-part .left {
  width: 60%;
  height: 80vh;
}

.first-part .right {
  width: 40%;
  height: 80vh;
  align-items: center;
  padding: 0;
}

.first-part .right img {
  height: 80%;
  max-width: 100%;
  display: flex;
  align-self: center;
  padding-top: 10%;
}

.second-part .column {
  float: left;
  padding: 80px;
  padding-left: 15vw;
}

.second-part .left {
  width: 60%;
  height: 80vh;
}

.second-part .right {
  width: 40%;
  height: 80vh;
  align-items: center;
  padding: 0;
}

.second-part .right img {
  height: 80%;
  max-width: 100%;
  display: flex;
  align-self: center;
  padding-top: 10%;
}

/* end of fourth section */
